asgiref==3.8.1
Django==5.1.7
gunicorn==22.0.0
packaging==25.0
sqlparse==0.5.3
trio==0.30.0
trio-websocket==0.12.2
typing_extensions==4.13.2
tzdata==2025.2
urllib3==2.4.0
websocket-client==1.8.0
whitenoise==6.9.0
python-dotenv
psycopg2-binary
